<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL-Hunters</title>

    <!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Body.CSS') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Upper_Head.CSS') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Search_ID.CSS') }}">

    <!-- <link rel="stylesheet" type="text/css" href="Body.CSS">
    <link rel="stylesheet" type="text/css" href="Upper_Head.CSS">
    <link rel="stylesheet" type="text/css" href="Search_ID.CSS"> -->

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- jqeury -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</head>

<body id="Body">


    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">LoL - Hunters</a><button data-toggle="collapse"
                data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown"><a data-toggle="dropdown" aria-expanded="false"
                            class="dropdown-toggle nav-link" href="#">Dropdown </a>
                        <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item"
                                href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second
                                Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="Search">
        <img src="https://cdna.artstation.com/p/assets/images/images/008/853/294/large/john-buenaventura-ziggs-waffles.jpg?1515699330"
            width="500px"></img><br>
        <input type="search" id="Search_Box">
        <script>
            function input() {

                var search = document.getElementById("Search_Box").value;
                $.ajax({
                    type: "GET",
                    url: "/Search?ID_Search=" + search,
                    data: {},
                    success: function (response) {
                        if (response['result'] == false) alert("잘못 입력하였거나 없는 소환사 입니다. 다시 한 번 확인해 주세요.")
                        else {
                            alert("오픈")
                            window.open("User/" + response['summoner']);
                        }
                    }
                })

            }
        </script>
        </input>
        <button id="Hunting_Box" onclick="input()">Hunting</button>
    </div>


</body>

</html>