<div class="Header">


    <div class="PastRank">

        <ul class="PastRankList">
            <li class="Item"><b>S3</b> Silver
            </li>
            <li class="Item tip" title="Gold 3">
                <b>S4</b> Gold</li>
            <li class="Item tip tpd-delegation-uid-1" title="">
                <b>S5</b> Gold</li>
            <li class="Item tip" title="Gold 4 0LP">
                <b>S6</b> Gold</li>
            <li class="Item tip" title="Gold 5 86LP">
                <b>S7</b> Gold</li>
            <li class="Item tip" title="Gold 4 6LP">
                <b>S8</b> Gold</li>
            <li class="Item tip" title="Gold 4 99LP">
                <b>S9</b> Gold</li>
        </ul>
    </div>

    <div class="Face">
        <div class="ProfileIcon">
            <div class="borderImage"
                style="background-image: url(//opgg-static.akamaized.net/images/borders2/silver.png);"></div>
            <img src="//opgg-static.akamaized.net/images/profile_icons/profileIcon3233.jpg?image=q_auto&amp;v=1518361200"
                class="ProfileImage">
            <span class="Level tip" title="레벨">89</span>
        </div>
    </div>

    <div class="Profile">
        <div class="Information">
            <span class="Name">핫 부</span>
            <a class="FavoriteButton" href="#" id="FavoriteButton"
                onclick="$.OP.GG.common.SummonerHistory.Favorite.toggle('핫 부'); return false;">
                <span class="deactive __spSite __spSite-101" style=""></span>
                <span class="active __spSite __spSite-102" style="display: none;"></span>
                즐겨찾기 </a>

            <div class="Rank">
                <div class="LadderRank">
                    <a href="/ranking/ladder/summonerName=%ED%95%AB%20%EB%B6%80" class="tip Link tpd-delegation-uid-1"
                        title="" target="_blank">
                        래더 랭킹 <span class="ranking">1,502,076</span>위 (상위 39.84%)
                    </a>
                </div>
            </div>
        </div>
        <div class="Buttons">
            <button class="Button SemiRound Blue" id="SummonerRefreshButton"
                onclick="$.OP.GG.summoner.renewBtn.start(this, '7876698');" style="position: relative;">
                전적 갱신 </button>
            <button id="top_tiergraph" class="Button SemiRound White"
                onclick="$.OP.GG.summoner.openLpHistoryGraph('핫부', '#ExtraView');">티어 그래프</button>
            <button id="top_ifi" class="Button SemiRound IfiGG White"
                onclick="window.open('http://ifi.gg/summoner/핫 부', '_blank')">
                롤 몇 시간 했는지 궁금해? <img src="//opgg-static.akamaized.net/images/img-nopgg-banner@2x.png">
            </button>
        </div>
    </div>
    <div class="LastUpdate">
        최근 업데이트: <span class="_timeago _timeCountAssigned tip tpd-delegation-uid-1" data-datetime="1591133602"
            data-type="" data-interval="60" title="2020년 6월 3일 오전 6시 33분">7시간 전</span>
    </div>
</div>