* {
    font-family: 'Stylish', sans-serif;
}

.wrap {
    width: 900px;
    margin: auto;
}

.comment {
    color: blue;
    font-weight: bold;
}

.jumbotron{
    background-repeat : no-repeat;  /* 반복 안함 */
    background-image: url("https://image.shutterstock.com/image-photo/group-creative-friends-sitting-wooden-600w-609342737.jpg");
    background-size : cover
}


.carousel_slide{
    width: 500px;
    height: 500px;
}

#post-box {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: rgb(52, 156, 151) solid;
    border-radius: 5px;
}
